/* @import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200;400&display=swap');; */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");
@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@200;400&display=swap");
* {
  box-sizing: border-box;
}
html, body {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body {
  width: 100%;
  min-height: 100vh;
  padding: 0;
  font-family: "Kanit", sans-serif;
  margin: 0;
  background: linear-gradient(180deg, #dac7c0 0%, #ffede7 100%);
  background-repeat: no-repeat;
}

.container {
  margin: auto;
  width: 100%;
  height: 100%;
}

.hero {
  width: 100%;
  height: 233px;

  padding-top: 40px;
  padding-left: 70px;

  background: #fff;
  background: linear-gradient(
    180.22deg,
    #ffffff 0.19%,
    #fbf9f9 30.53%,
    #f1ebeb 65.91%,
    #e3d6d6 101.3%
  );

  display: flex;

  position: relative;
}

.hero__footer {
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

.hero__footer img {
  width: 100%;
  height: 100%;
}

.hero__footer > img {
  position: relative;
  bottom: -4px;
  left: 0px;
  right: 0px;
}

.hero__menu {
  width: 100%;
  /* height: 48px; */
}

.hero__tab-top,
.hero__tab-bottom {
  width: 100%;
  height: 5px;
  background: linear-gradient(
    90deg,
    #cf8d31 7.72%,
    #cf8d31 17.75%,
    #e0b359 26.77%,
    #fef09e 33.8%,
    #fcf8c2 40.82%,
    #fef09e 47.84%,
    #e0b359 58.87%,
    #cf8d31 66.9%,
    #c37c2a 76.93%,
    #cd842a 82.95%,
    #e5a43b 87.96%,
    #f0b54a 92.98%,
    #b76b29 100%,
    #b56928 100%
  );
}
.hero__tab-center {
  width: 100%;
  height: 48px;
  background-color: rgba(80, 21, 1, 1);
  display: flex;
  overflow-x: scroll;
}

.hero__tab-center .link {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  width: calc(8/100%);
  padding: 0 5px 0 5px;
  height: 100%;
  font-weight: 100;
  font-size: 16px;
  transition: all .2s;
}

.hero__tab-center .link:hover {
  cursor: pointer;
}

.hero__tab-center .link:last-child {
  margin-left: auto;
  border-left: 2px solid #231f20;
  padding: 0 15px 0 25px;
}

.hero__tab-center .link:nth-child(3) img {
  width: 15px;
}

.hero__tab-center .link.active {
  background: rgba(174, 0, 62, 1);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
}

.hero__tab-center .link img {
  width: 24px;
}

.hero__brand-logo {
  width: 84px;
  height: 84px;
  padding-right: 15px;
}

.hero__company-nameEn {
  padding: 0;
  margin: 0;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: KodchiangUPC;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px; /* 90% */
  background: linear-gradient(180deg, #c85a5a 0%, #77634c 413.33%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero__company-nameTh {
  padding: 0;
  margin: 0;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Kanit;
  font-size: 27px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px; /* 133.333% */
  background: linear-gradient(180deg, #c85a5a -151.67%, #77634c 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero__content {
  width: 100%;
  height: 100%;
  background: #ffffff;
}

@media screen and (min-width: 1441px) {
  .container {
    width: 1079px;
  }
}
